body {
	margin: 0; /*Quita espacio exterior*/
	font-family: Candara;
}

.registrar-cli .contenedor-principal {
	padding: 20px; /*Agrega espacio en el interior*/
}

.registrar-cli .titulo {
	display: flex; /*Permite alinear el contenido en una línea*/
	justify-content: center; /*Centra el elemento*/
	margin-top: 75px; /*Añadir espacio con el elemento de arriba*/
	font-size: 25px; /*Establece el tamaño a la letra*/
	font-family: Candara;
}

.registrar-cli .titulo-1 {
	font-family: Candara;
	color: #203864; /*Da color a las letras*/
	margin-right: 10px; /*Añadir esapacio con el elemento de la derecha*/
}

.registrar-cli .titulo-2 {
	color: rgb(62, 207, 62); /*Da color a las letras*/
}

.registrar-cli .parte_izquierda {
	width: 31.8%; /*Establecer ancho de la caja*/
	margin-top: -28px; /*Eliminar espacio con el elemento de arriba*/
	float: left; /*Posiciona el objeto a la izquierda*/
}

.registrar-cli .parte_izquierda p {
	margin-bottom: 5px; /*Añadir espacio con el elemento de abajo*/
}

.registrar-cli .imagen-casa {
	margin-right: 10px; /*Añadir espacio con el elemento de la izquierda*/
	margin-top: 12px; /*Añade espacio con el elemento de arriba*/
	max-height: 110px; /*Definir altura de la imagen*/
	max-width: 60px; /*Definir ancho de la imagen*/
}

.registrar-cli .cont-datos-domicilio{
	width: 155%; /*Establecer ancho de la caja*/
	margin-top: 1%; /*Elimina espacio con el elemento de arriba*/
	border: 2px solid #2aa312; /*Línea de la caja*/
	background-color: #ffffff;
	padding: 15px; /*Agrega espacio en el interior*/
	height: 200px; /*Establece la altura del objeto*/
	border-radius: 0px; /*Redondea las esquinas*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.registrar-cli .posicion-letra label {
	display: block;
	font-weight: bold;
	color: rgb(78, 72, 72);
	margin-bottom: 5px;
	width: 200px; /* Ajusta este valor según el ancho que desees para las etiquetas */
}

.registrar-cli .posicion-letra input {
	width: calc(100% - 110px); /* Ajusta este valor según el ancho que desees para los inputs */
	margin-bottom: 10px;
}

.registrar-cli .subtitulo-domicilio {
	color: #203864; /*Da color a las letras*/
	font-size: 22px;
}

.registrar-cli .grupo2{
	width: 100%;
	margin-left: 110%;
	margin-top: -104%;
	flex: 1;
}

.registrar-cli .grupo2 label {
	display: block;
	margin-bottom: 5px;
	width: 200px;
}

.registrar-cli .grupo2 select{
	width: 200px !important;
}

.registrar-cli .grupo2 input {
    width: 200%; 
    padding: 8px; 
    margin-bottom: 10px; 
    box-sizing: border-box;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.registrar-cli .grupo3 {
	width: 100%;
	margin-left: 225%;
	margin-top: -108%;
}

.registrar-cli .boton-registrar {
	background-color:#203864; /*Color del botón*/
	color: #ffffff; /*Cambia el color del texto */
	width: 100%; /*Establecer ancho del objeto*/
	cursor: pointer; /*Cambia el cursor al pasar el ratón sobre el botón */
	font-size: 15px; /*Ajusta el tamaño de fuente */
	border-radius: 5px; /*Agrega bordes redondeados */
	padding: 9px; /*Agranda espacio en el interior de los inputs*/
	font-family: "Times New Roman"; /*Fuente de letra*/
	margin-top: 30px; /*Añade espacio con el elemento de arriba*/
}

.registrar-cli .posicion-boton {
	float: right; /*Posiciona el objeto a la derecha*/
	margin-right: 5%;
	margin-top: 30px;
	width: 15%; /*Establecer ancho del objeto*/
}

.registrar-cli .subtitulo-cliente {
	margin-top: 17%; /*Añade espacio con el elemento de arriba*/
	color: #203864; /*Da color a las letras*/
	font-size: 22px; /*Establece el tamaño a la letra*/
}

.registrar-cli .contenedor-datos {
	width: 49%; /*Establecer ancho de la caja*/
	margin-top: 1%; /*Elimina espacio con el elemento de arriba*/
	border: 2px solid  #2aa312;
	background-color: #ffffff;
	padding: 15px; /*Agrega espacio en el interior*/
	height: 280px; /*Establece la altura del objeto*/
	border-radius: 0px; /*Redondea las esquinas*/
}

.registrar-cli .parte_izquierda input {
	width: 90%; /*Establecer ancho del objeto*/
	padding: 9px; /*Agranda espacio en el interior de los inputs*/
	border: 1px solid #ccc; /*Añade un borde */
	border-radius: 5px; /*Agrega bordes redondeados */
	color: #333; /*Cambia el color del texto */
	font-size: 14px; /*Ajusta el tamaño de fuente */
	font-family: "Times New Roman"; /*Fuente de letra*/
}

.registrar-cli .input-todo label{
	font-weight: bold;
	color: rgb(78, 72, 72);
	display: block; /* Para que cada label ocupe una línea completa */
	margin-bottom: 5px; /* Ajusta este valor según la separación que desees */
	width: 150px;
}

.registrar-cli .input-todo input {
	width: 450%;
	margin-bottom: 10px; /* Ajusta este valor según la separación que desees */
}

.registrar-cli .input-todo p,
.datos_izquierda p,
.datos_derecha p {
	margin-bottom: 5px; /*Añadir espacio con el elemento de abajo*/
}

.registrar-cli .input-todo input,
.datos_izquierda input {
	width: 30%; /*Establecer ancho del objeto*/
	padding: 9px; /*Agranda espacio en el interior de los inputs*/
	border: 1px solid #ccc; /*Añade un borde */
	border-radius: 5px; /*Agrega bordes redondeados */
	color: #333; /*Cambia el color del texto */
	font-size: 14px; /*Ajusta el tamaño de fuente */
	font-family: "Times New Roman"; /*Fuente de letra*/
}

.registrar-cli .datos_izquierda {
	width: 48%; /*Establecer ancho de la caja*/
	float: left; /*Posiciona el objeto a la izquierda*/
}

.registrar-cli .datos_derecha {
	display: flex;
    flex-direction: column;
	margin-top: -31.5%;
	width: 30%; /*Establecer ancho de la caja*/
	float: right; /*Posiciona el objeto a la izquierda*/
	margin-right: 33%;
}

.registrar-cli .datos_derecha label {
	font-weight: bold;
	color: rgb(78, 72, 72);
	margin-bottom: 5px;
}

.registrar-cli .datos_derecha input {
	margin-bottom: 5%;
	width: 92.9%; /*Establecer ancho del objeto*/
	padding: 9px; /*Agranda espacio en el interior de los inputs*/
	border: 1px solid #ccc; /*Añade un borde */
	border-radius: 5px; /*Agrega bordes redondeados */
	color: #333; /*Cambia el color del texto */
	font-size: 14px; /*Ajusta el tamaño de fuente */
	font-family: "Times New Roman"; /*Fuente de letra*/
}

.registrar-cli .datos_izquierda select {
	width: 104%; /*Establecer ancho del objeto*/
	padding: 9px; /*Agranda espacio en el interior de los inputs*/
	border: 1px solid #ccc; /*Añade un borde */
	border-radius: 5px; /*Agrega bordes redondeados */
	color: #333; /*Cambia el color del texto */
	font-size: 14px; /*Ajusta el tamaño de fuente */
	font-family: "Times New Roman"; /*Fuente de letra*/
}

.registrar-cli .grupo3 select {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.registrar-cli .grupo2 select {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.registrar-cli .datos_derecha select {
	margin-bottom: 5px;
	width: 100.5%; /*Establecer ancho del objeto*/
	padding: 9px; /*Agranda espacio en el interior de los inputs*/
	border: 1px solid #ccc; /*Añade un borde */
	border-radius: 5px; /*Agrega bordes redondeados */
	color: #333; /*Cambia el color del texto */
	font-size: 14px; /*Ajusta el tamaño de fuente */
	font-family: "Times New Roman"; /*Fuente de letra*/
}


.registrar-cli .boton-datos {
	background-color: #203864; /*Color del botón*/
	color: #ffffff; /*Cambia el color del texto */
	width: 100%; /*Establecer ancho del objeto*/
	cursor: pointer; /*Cambia el cursor al pasar el ratón sobre el botón */
	font-size: 15px; /*Ajusta el tamaño de fuente */
	border-radius: 5px; /*Agrega bordes redondeados */
	border: 1px solid #152c57; /*Añade un borde */
	padding: 9px; /*Agranda espacio en el interior de los inputs*/
	font-family: "Times New Roman"; /*Fuente de letra*/
	margin-top: 17px; /*Añade espacio con el elemento de arriba*/
}

.registrar-cli .contenedor-info {
	width: 45%; /*Establecer ancho de la caja*/
	margin-top: -640px; /*Elimina espacio con el elemento de arriba*/
	border: 2px solid rgb(10, 30, 87); /*Línea de la caja*/
	box-shadow: 0px 2px 4px rgba(8, 4, 255, 0.616); /*Agregar sombra*/
	padding: 15px; /*Agrega espacio en el interior*/
	height: 600px; /*Establece la altura del objeto*/
	border-radius: 5px; /*Redondea las esquinas*/
	margin-left: 52%;
}

.registrar-cli .imagen-kallpainfo {
	max-height: 300px; /*Definir altura de la imagen*/
	max-width: 200px; /*Definir ancho de la imagen*/
}

.registrar-cli .linea {
	display: flex; /*Permite alinear el contenido de la barra*/
	justify-content: space-between; /*Separa imagen*/
	margin-right: 15px; /*Añadir espacio con elemento de la derecha*/
}

.registrar-cli .espacio {
	margin-top: -45px; /*Elimina espacio con el elemento de arriba*/
}

/* Estilo para el contenedor principal */
.cont-button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
	width: 400px;
	height: 100px;
}

/* Estilo para cada botón */
.boton1 {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el icono dentro del botón */
.boton1 i {
    margin-right: 5px;
}

/* Estilo para cambiar el color cuando el mouse pasa sobre el botón */
.boton1:hover {
    background-color: #45a049;
}


