body {
	margin: 0; 
	font-family: Arial, Helvetica, sans-serif;
}

.evaluar-c .contenedor-principal {
	padding: 20px;
}

.evaluar-c .contenedor-principal2 {
	padding: 20px;
	margin-top: 338px;
}

.evaluar-c .titulo {
	display: flex; 
	justify-content: center;
	margin-top: 75px; 
	font-size: 20px;
	margin-bottom: 20px;
}

.evaluar-c .titulo-1 {
	color: #203864;
	margin-right: 10px; 
}

.evaluar-c .titulo-2 {
	color: rgb(62, 207, 62); 
}

.evaluar-c .subtitulo_1 {
	color: #33cc33;
	font-size: 18px;
	font-weight: bold;
	margin-top: 4px;
}

.evaluar-c .search-container-1 {
	margin-top: -25px;
	border: 2px solid #abf5b7;
	box-shadow: 0px 2px 4px rgba(15, 182, 71, 0.562);
	padding: 15px;
	height: 120px;
	margin-bottom: 10px;
	border-radius: 0px;
	width: 98%;
}

.evaluar-c .search-container-2 {
	margin-top: 10px;
	border: 2px solid #abf5b7;
	box-shadow: 0px 2px 4px rgba(15, 182, 71, 0.562);
	padding: 15px;
	height: 120px;
	margin-bottom: 25px;
	border-radius: 0px;
	width: 80%;
}

.divisionPrin{
	display: flex;
}

.contenedor-boton-limpiar{
	width: 10%;
}
.evaluar-c .subcajita {
	display: inline-block;
    margin-left: 20px;
    width: 31% !important;
}

.caja_filtro_1{
	width: 90%;
}
.evaluar-c .subcajita2 {
	display: inline-block;
    margin-left: 25px;
    width: 21.3% !important;
}

.evaluar-c .subcajita3 {
	display: inline-block;
    width: 5% !important;
}
.evaluar-c .subcajita4 {
	display: flex;
    width: 100% !important;
	margin-top: 20px;
}

.evaluar-c .subcajita5 {
	display: inline-block;
    width: 50% !important;
	margin-top: 30px !important;
}

.tabla::-webkit-scrollbar {
	width: 8px; 
}

.tabla::-webkit-scrollbar-thumb {
	background-color: #203864;
}

.tabla::-webkit-scrollbar-track {
	background-color: #f8f8f8;
}

table {
	width: 100%; 
	border-collapse: collapse; 
	border: 0px;
}

th,
td {
	border: 0px solid;
	padding: 10px;
	text-align: center;
}

.evaluar-c thead th {
	position: sticky;
    top: 0;
    z-index: 1;
}

th {
	background-color: #095ba8;
	color: white;
	height: 32px;
	font-size: 12px;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

tr:hover {
	background-color: #e0e0e0;
}

.evaluar-c .imagen-contrato {
	max-height: 150px;
	max-width: 130px;
	margin-right: 20px;
}

.evaluar-c .contract-details {
	display: flex;
	align-items: center;
	margin-top: 300px;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 2px 4px #ffffff;
	max-width: 1000px;
	white-space: nowrap; /* Evita el salto de línea en el contenedor */
}

.evaluar-c .input-field {
	display: flex;
	width: 90%;
	height: 26px;
	margin-right: 10px;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #333;
	font-size: 14px;
	font-family: "Arial";
	flex-wrap: nowrap;
	margin-top: 5px;
}

.evaluar-c .input-field2 {
	display: flex;
	width: 100%;
	height: 26px;
	margin-right: 10px;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #333;
	font-size: 14px;
	font-family: "Arial";
	flex-wrap: nowrap;
	margin-top: 5px;
}

.evaluar-c .cbx {
	height: 45px;
}

#searchFecha {
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	width: 90%;
	vertical-align: middle;
	font-family: "Arial";
	height: 26px;
	margin-top: 5px;
}

.evaluar-c .contract-details .action-button:hover {
	background-color: #12213b;
}

/* Estilos para el contenedor de búsqueda */
.evaluar-c .contract-details {
	position: relative;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	background-color: #dfedd6;
	box-shadow: 0px 2px 4px #33cc33;
	max-height: 300px;
	margin-bottom: 20px;
}

/* Estilos para el contenedor de búsqueda y botones */
.evaluar-c .buttons-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end; /* Alinea los elementos a la derecha */
	margin-top: 20px; /* Ajusta la separación superior */
	margin-right: -35px;
}

.evaluar-c .buttons-container2 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end; /* Alinea los elementos a la derecha */
	margin-top: 20px; /* Ajusta la separación superior */
	margin-right: -35px;
	width: 41.8%;
	margin-left: 1074px;
	margin-top: -54.4px;
}

.evaluar-c .boton-opciones {
	padding: 10px 20px;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
	width: 30%;
	background-color: #095ba8;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.evaluar-c .boton-css {
	padding: 10px 20px;
	font-size: 14px;
	margin-right: 10px;
	width: 40px;
	background-color: #095ba8;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 30px;
	margin-left: 20px;
}

.evaluar-c .table-container {
	height: 320px;
    overflow-y: scroll;
	margin-top: 45px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #095ba8;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.evaluar-c i {
	font-size: 18px;
	margin-left: -8px;
}

.evaluar-c .ia{
	margin-left: 8px;
}

/* Estilos para los botones */
.evaluar-c .action-button {
	padding: 10px 20px;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
	width: 28%;
	background-color: #095ba8;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.evaluar-c .action-button1 {
	padding: 10px 20px;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 500px;
	width: 28%;
	background-color: #095ba8;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.evaluar-c .action-button:hover {
	background-color: rgb(37, 219, 77);
}

.evaluar-c .i-t {
	font-size: 50px;
	color: #203864;
	margin-left: 2px;
}

.evaluar-c .select-button:hover {
	background-color: #45a049; /* Cambia de color al pasar el mouse */
}

.label-styled {
	font-size: 16px;
	color: #203864;
	font-weight: bold;
	margin-right: 10px;
}

.caja_filtro_2{
	width: 100%;
}