body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	
	color:#333;
}

.consultar-co .contenedor-principal {
	padding: 20px; /*Agrega espacio en el interior*/
}
.consultar-co .titulo {
	display: flex; /*Permite alinear el contenido en una línea*/
	justify-content: center; /*Centra el elemento*/
	margin-top: 75px; /*Añadir espacio con el elemento de arriba*/
	font-size: 20px; /*Establece el tamaño a la letra*/
}

.consultar-co .titulo-1 {
	color: #0d3458; /*Da color a las letras*/
	margin-right: 10px; /*Añadir esapacio con el elemento de la derecha*/
}

.consultar-co .titulo-2 {
	color: rgb(62, 207, 62); /*Da color a las letras*/
}
.consultar-co .subtitulo-lista {
	color: #333; /*Da color a las letras*/
	font-size: 16px; /*Establece el tamaño a la letra*/
}
.consultar-co .tabla {
	height: 520px; /*Tamaño de altura de la tabla*/
	overflow-y: scroll; /*Añade barra de desplazamiento*/
	
}
.tabla::-webkit-scrollbar {
	width: 8px; /* Ancho de la barra de desplazamiento */
}

.tabla::-webkit-scrollbar-thumb {
	background-color: #095ba8; /* Color de la barra de desplazamiento */
}

.tabla::-webkit-scrollbar-track {
	background-color: #f8f8f8; /* Color del fondo de la barra de desplazamiento */
}

table {
	width: 100%; /*Establecer ancho del objeto*/
	border-collapse: collapse; /*Junta los campos de la tabla*/
}

th,
td {
	padding: 12px; /*Agranda espacio en el interior de la celda*/
	text-align: center; /*Alinea el texto al centro*/
}

th {
	background-color: #095ba8; /*Color de la cabecera*/
	color: white; /*Color de la letra*/
	font-size: 12px;
}

tr:hover {
	background-color: #ccc; /*Color del contenido*/
}

.tabla button {
	padding: 5px 10px;
	cursor: pointer;
	border: 0px;
	width: 40px;
	border-radius: 5px;
	background-color: #095ba8;
	color: white;
}

.consultar-co .boton-opciones {
	background-color: #47d847; /*Color del botón*/
	height: 40px;
	color: #ffffff; /*Cambia el color del texto */
	width: 28%; /*Establecer ancho del objeto*/
	cursor: pointer; /*Cambia el cursor al pasar el ratón sobre el botón */
	font-size: 16px; /*Ajusta el tamaño de fuente */
	border-radius: 5px; /*Agrega bordes redondeados */
	border: 0px; /*Añade un borde */
	padding: 9px; /*Agranda espacio en el interior de los inputs*/
	font-family: "Arial"; /*Fuente de letra*/
	margin-right: 10px;
}
.consultar-co .boton-opciones1 {
	background-color: #095ba8; /*Color del botón*/
	height: 40px;
	color: #ffffff; /*Cambia el color del texto */
	width: 19%; /*Establecer ancho del objeto*/
	cursor: pointer; /*Cambia el cursor al pasar el ratón sobre el botón */
	border: 0px;
	font-size: 16px; /*Ajusta el tamaño de fuente */
	border-radius: 5px; /*Agrega bordes redondeados */
	padding: 10px; /*Agranda espacio en el interior de los inputs*/
	font-family: "Arial"; /*Fuente de letra*/
	margin-right: 10px;
}
.consultar-co .boton-seleccionar i{
	font-size: 18px; /*Ajusta el tamaño de fuente */
}

.consultar-co .boton-opciones1 i{
	margin-left: 10px;
	font-size: 18px; /*Ajusta el tamaño de fuente */
}

.consultar-co .boton-opciones i{
	margin-left: 10px;
	font-size: 18px; /*Ajusta el tamaño de fuente */
}
.consultar-co .parte-izq {
	width: 77%; /*Establecer ancho de la caja*/
	float: left; /*Posiciona el objeto a la izquierda*/
}
.consultar-co .contenedor {
	width: 100%; /*Establecer ancho de la caja*/
	margin-top: 20px; /*Elimina espacio con el elemento de arriba*/
	border: 2px solid #47d847; /*Línea de la caja*/
	padding: 15px; /*Agrega espacio en el interior*/
	height: 540px; /*Establece la altura del objeto*/
	border-radius: 0px; /*Redondea las esquinas*/
}
.consultar-co .contenedor-info {
	width: 20%; /*Establecer ancho de la caja*/
	float: right; /*Posiciona el objeto a la izquierda*/
	margin-right: 35px;
}

.consultar-co .contenedor-info .contenedor i{
	margin-left: 130px;
	color:#47d847;
	font-size:80px; /*Ajusta el tamaño de fuente */
}

.consultar-co .contenedor p {
	margin-bottom: 5px; /*Añadir espacio con el elemento de abajo*/
}
.consultar-co input {
	width: 93%; /*Establecer ancho del objeto*/
	height: 50px;
	padding: 9px; /*Agranda espacio en el interior de los inputs*/
	border: 1px solid #ccc; /*Añade un borde */
	border-radius: 5px; /*Agrega bordes redondeados */
	color: #333; /*Cambia el color del texto */
	font-size: 14px; /*Ajusta el tamaño de fuente */
	font-family: "Arial"; /*Fuente de letra*/
}
.Acciones {
	margin-top: 20px;
}
