body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.asignar-T .cabecera {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 2px 4px rgba(15, 182, 71, 0.562);
}

.asignar-T .imagen-kallpa {
	margin-top: 35px;
	max-height: 300px;
	max-width: 200px;
}

.asignar-T .imagen-usuario {
	margin-right: 10px;
	max-height: 100px;
	max-width: 50px;
}

.asignar-T .contenedorP2 {
	display: flex;
}

.asignar-T .imagenT {
	color: rgb(62, 207, 62);
	font-size: 100px;
	text-align: center;
}

.asignar-T .pie-pagina {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #33cc33;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.asignar-T .contenedorPT {
	padding: 20px;
	margin-bottom: 10px;
}

.asignar-T .tabla-T {
	margin-top: 20px;
	width: 100%;
	border: 0px;
}

.custom-table-T {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 10px;
}

.custom-table-T th,
.custom-table-T td {
	border: 0px solid;
	padding: 10px;
	text-align: center;
}

.custom-table-T th {
	background-color: #095ba8;
	color: white;
	height: 32px;
	font-size: 12px;
}

.custom-table-T tr:nth-child(even) {
	background-color: #f9f9f9;
}

.custom-table-T tr:hover {
	background-color: #e0e0e0;
}

.custom-table-T button {
	padding: 5px 10px;
	cursor: pointer;
	border: 0px;
	width: 35px;
	border-radius: 5px;
	background-color: #095ba8;
	color: white;
}

.custom-table-T button:hover {
	background-color: #0e76a8;
}

.custom-table-T button i {
	margin-right: 5px;
}

.asignar-T .tituloP {
	display: flex;
	justify-content: center;
	margin-top: 75px;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.asignar-T .titulo-A {
	color: #203864;
	margin-right: 10px;
}

.asignar-T .titulo-B {
	color: rgb(62, 207, 62);
}

.asignar-T .contenedorS2 {
	width: 25%;
}
.asignar-T .contenedorS1 {
	width: 70%;
	margin-right: 20px;
}

.asignar-T .CajaTécnico {
	border: 2px solid #abf5b7;
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
}

.asignar-T .boton-opciones-T {
	padding: 10px 20px;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
	width: 25%;
	background-color: #095ba8;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.asignar-T .boton-especial {
	padding: 10px 20px;
	font-size: 16px;
	width: 35%;
	background-color: rgb(37, 219, 77);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.asignar-T .TI2 {
	text-align: center;
	font-weight: bold;
	color: #33cc33;
	font-size: 18px;
}

.asignar-T input {
	width: 90%;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	height: 40px;
	color: #333;
	font-size: 14px;
	font-family: "Arial";
}
