body {
	margin: 0;
	font-family: Candara;
}

.registrar-M .contenedorP {
	padding: 20px;
	margin-bottom: 120px;
}

.registrar-M .contenedorS {
	width: 98%;
	margin-top: -10px;
	margin-bottom: 20px;
	float: left;
	margin-left: 10px;
}

.registrar-M .cajaContrato {
	margin-top: -15px;
	border: 2px solid #abf5b7;
	box-shadow: 0px 2px 4px rgba(15, 182, 71, 0.562);
	padding: 15px;
	height: 120px;
	margin-bottom: 25px;
	border-radius: 0px;
}

.subcajita {
	display: inline-block;
	margin-left: 20px;
	width: 31% !important;
}

.subcajita input {
	width: 95% !important;
}

.registrar-M input {
	width: 30%;
	height: 25px;
	margin-right: 10px;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #333;
	font-size: 14px;
	font-family: "Arial";
}

.registrar-M .tituloS2 {
	color: #33cc33;
	font-size: 18px;
	font-weight: bold;
}

.registrar-M .tituloP {
	display: flex;
	justify-content: center;
	margin-top: 75px;
	margin-bottom: 20px;
	font-size: 20px;
}

.registrar-M .titulo-A {
	color: #203864;
	margin-right: 10px;
}

.registrar-M .titulo-B {
	color: rgb(62, 207, 62);
}

.registrar-M .CajaMaterial {
	border: 2px solid #abf5b7;
	width: 25%;
	padding: 15px;
	margin-bottom: 20px;
	margin-left: 28px;
	margin-right: 10px;
	display: block;
}

.registrar-M .ContenedorP1 {
	margin-top: 20px;
	display: flex;
}

.registrar-M .n1 {
	width: 95%;
	margin-bottom: 10px;
}
.registrar-M select {
	border-radius: 5px;
	width: 100%;
	height: 40px;
	padding: 9px;
	border: 1px solid #ccc;
	color: #333;
	margin-bottom: 10px;
	font-family: "Arial";
}

.registrar-M .boton {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	width: 98%;
	background-color: rgb(37, 219, 77);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

.registrar-M .mdi {
	font-size: 18px;
}

.registrar-M .CajaTabla {
	width: 66%;
	margin-left: 10px;
	display: block;
}

.registrar-M .tabla {
	margin-top: 20px;
	width: 100%;
	border: 0px;
}

.custom-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 30px;
}

.custom-table th,
.custom-table td {
	border: 0px solid;
	padding: 10px;
	text-align: center;
}

.custom-table th {
	background-color: #095ba8;
	color: white;
	height: 32px;
	font-size: 12px;
}

.custom-table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.custom-table tr:hover {
	background-color: #e0e0e0;
}

.custom-table button {
	padding: 5px 10px;
	cursor: pointer;
	border: 0px;
	width: 40px;
	border-radius: 5px;
	background-color: #095ba8;
	color: white;
}

.custom-table button:hover {
	background-color: #0e76a8;
}

.custom-table button i {
	margin-right: 5px;
}

.registrar-M .boton-opciones {
	padding: 10px 20px;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
	width: 30%;
	background-color: #095ba8;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
