body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.contenedor1 {
	padding: 5px;
	text-align: center;
	text-decoration: none;
	color: white;
	width: 33.1%; /* Ancho igualmente distribuido para las tres contenedores */
	display: inline-block; /* Cambiado a inline-block para colocarlos en línea */
	box-sizing: border-box; /* Para incluir el padding en el ancho y alto */
	border: 2px solid transparent;
}

.lineacont {
	border-right: 2px solid #fff;
}

.contenedor1 .label,
.contenedor1 .numeroT {
	display: inline; /* Hace que los elementos se muestren en una línea */
}

.cabeceras {
	background-color: #fff;
	color: white;
	width: 100%;
	justify-content: space-between; /* Espacio entre los contenedores */
}
.menuOpciones {
	background-color: #fff;
	height: 85px;
	border-bottom: 4px solid #33cc33;
}
.imagen {
	width: 200px;
}

.contenedor2 {
	margin-top: 20px;
}

.contenedor1:hover {
	background-color: #3fb43f;
}

.label {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}

.numeroT {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}

.mdi mdi-whatsapp {
	font-size: 18px;
	margin-right: 5px;
}

.numeros {
	font-weight: bold;
	padding: 15px;
	width: 100%;
	background-color: #33cc33;
	box-sizing: border-box;
}
.menuOpciones .lista-menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 8px;
	display: flex;
	justify-content: space-between; /* Distribuye de forma equitativa */
}

.menuOpciones .lista-menu .menu-item {
	flex: 1;
	margin-right: 10px;
	margin-left: 55px;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
}

.menuOpciones .lista-menu .logo-kallpa {
	border: 4px solid transparent;
	padding-right: 20px;
	border-right: 2px solid #808080;
}

.menuOpciones .lista-menu .menu-item:last-child {
	margin-right: 0;
}

.menuOpciones .lista-menu .menu-item .item-label-icon {
	display: flex;
	align-items: center;
}

.menuOpciones .lista-menu .menu-item .item-label-icon i {
	margin-right: 10px;
}

.menuOpciones .lista-menu .menu-item .menu-link {
	color: #808080;
	text-decoration: none;
}

.menuOpciones .lista-menu .menu-item:hover .item-label-icon i,
.menuOpciones .lista-menu .menu-item:hover .menu-link {
	text-decoration: underline;
	color: #33cc33;
}

.logo-kallpa img {
	max-width: 180px;
}

.menuOpciones .mdi {
	font-size: 30px;
	color: #808080;
}
.menuOpciones .menu-item {
	position: relative;
}

.menuOpciones .menu-item .submenuContenedor {
	display: none; /* Inicialmente ocultar el submenu */
	position: absolute;
	width: 300px;
	top: 100%;
	left: 0;
	background-color: white;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	text-align: left;
}

.menuOpciones .menu-item .submenuContenedor .row {
	display: inline-block;
}

.menuOpciones .menu-item .submenuContenedor .row .mdi {
	color: #33cc33;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.menuOpciones .menu-item .submenuContenedor .row .col {
	height: 40px;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	list-style-type: none;
	margin-left: -20px;
	margin-right: 60px;
	cursor: pointer;
}
.menuOpciones .menu-item .submenuContenedor .row .col1 {
	height: 40px;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	list-style-type: none;
	margin-left: -20px;
}
.menuOpciones .menu-item .submenuContenedor .row span {
	color: black;
	font-weight: 100;

	width: 100%;
	text-decoration: none;
}

.menuOpciones .menu-item .submenuContenedor .row .col:hover,
.menuOpciones .menu-item .submenuContenedor .row .col1:hover {
	background-color: #bafdba;
	border-radius: 8px;
}

.menuOpciones .menu-item .submenuContenedor a {
	text-decoration: none;
}
.menuOpciones .menu-item:hover .submenuContenedor {
	display: block; /* Mostrar el submenu al pasar el mouse sobre el item */
}
/*Slider*/
.container {
	width: 100%;
	height: 480px;
	background: lightgray;
	position: absolute;
}
.container img {
	width: 100%;
	height: 590px;
	object-fit: cover;
}
.splide__arrow {
	border-color: transparent;
	background-color: transparent;
	font-size: 20px; /* Establece el tamaño de fuente del texto */
	cursor: pointer;
}

.splide__arrow--prev {
	position: absolute;
	top: 51%;
	left: 97%;
	z-index: 1;
}

/* Cambia el contenido de la flecha hacia la derecha */
.splide__arrow--next {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: rotate(180deg);
	color: #fff;
}

/*CONTENEDOR 2 */
.home-cont2 {
	background: linear-gradient(0deg, rgba(56,166,172,1) 0%, rgba(20,61,136,1) 100%);
	width: 96.8%; /*ancho*/
	padding: 30px;
	height: 600px; /*alto*/
    margin-top: 600px;
}

.home-cont2 img {
    width: 50%;
    height: 590px;
    object-fit: cover;
}

.cont2-titulo{
    margin-left: 60%;
    font-family: Cambria;
    margin-top: -25%;
    color: #fff;
    font-size: 60px;
}
.cont2-titulo2{
    margin-left: 90%;
    font-family: 'Comic Sans MS';
    margin-top: 10%;
    color: #fff;
    font-size: 30px;
}

.home-cont3 {
	background: rgb(255, 255, 255);
	width: 96%; /*ancho*/
	padding: 30px;
	height: 570px; /*alto*/
    margin-top: 1%;
	border: 8px solid #1a1166;
}


.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-cont3 .titulo .mdi {
	color: rgb(18, 17, 102); 
	font-size: 45px; 
	margin-right: 4px;
}

.ParteB{
    font-family: Candara;
    color: rgb(18, 17, 102);
    font-weight: bold;
    font-size: 50px;
}
.titulo .ParteA{
    font-family: Candara;
    color: rgb(109, 102, 102);
    margin-right: 10px;
    font-size: 50px;
}

.row{
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justificacion{
	text-align: justify;
	font-family: Candara;
	font-size: 20px;
	margin-top: -30px;
}

.r-cont1 h4{
	font-family: Candara;
	font-size: 25px;
}

.r-cont1{
	height: 50px;
	width: 400px;
	margin-left: 20%;
	margin-top: -30px;

}

.cont-img img{
	margin-left: 265%;
	width: 125%;
}

.letra{
	text-align: justify;
	font-family: Candara;
	font-size: 20px;
	margin-top: -30px;
}

.r-cont2 h4{
	font-family: Candara;
	font-size: 25px;
}

.r-cont2{
	height: 50px;
	width: 400px;
	margin-left: -28%;
	margin-top: 170px;
}

.cont-img1 img{
	margin-left: -480%;
	margin-top: 190%;
	width: 125%;
}

.cont-img2 img{
	margin-left: 80%;
	width: 125%;
}

.letra1 {
	text-align: justify;
	font-family: Candara;
	font-size: 20px;
	margin-top: -30px;
}

.r-cont3 {
	height: 50px;
	width: 400px;
	margin-top: -25px;
	margin-left: 8%;
}

.r-cont3 h4 {
	font-family: Candara;
	font-size: 25px;
}

.cont-img3 img{
	margin-top: 220px;
	margin-left: -485%;
	width: 125%;
}

.r-cont4 {
	height: 50px;
	width: 400px;
	margin-left: 62%;
	margin-top: -180px;
}

.r-cont4 h4{
	font-family: Candara;
	font-size: 25px;
}

.letra2{
	text-align: justify;
	font-family: Candara;
	font-size: 20px;
	margin-top: -30px;
}

.home-cont4 {
	background: #00296B;
	width: 96%; /*ancho*/
	padding: 30px;
	height: 700px; /*alto*/
    margin-top: 1%;
}

.home-cont4 img {
	width: 100%;
}

.home-cont4 .titulo{
	margin-top: -36%;
	margin-right: 70%;
	font-family:'Comic Sans MS';
	color: #fff;
	font-size: 75px;
	font-weight: bold;
}

.logo img{
	width: 80px;
	height: 80px;
	border-radius: 15px; 
    background-color: white;
	margin-top: -50px;
	margin-left: 4%;
}

.home-cont4 .titulo2{
	color:#bafdba;
	font-size: 85px;
	font-family: Candara;
	margin-top: -10%;
	margin-left: 10%;
}