
.contenedorP{
	display: flex;
	margin-right: -10px;

}
.contenedorP .contenedor1{
    align-items: center;
    width: 25%;
	margin-top: -10px;
	background-color: white;
}


.contenedor1 .titulo-bien {
	font-size: 50px;
	font-family: Tahoma !important;
	color: #032f76;
	text-align: center;
}

.contenedor1 .titulo-acc {
	font-size: 20px;
	font-family: Tahoma !important;
	color: #ffffff;
	margin-left: 30px;
}

.Img1{
	width:250px;
	margin-left: 80px;
	margin-bottom: 50px"
}

.Img2{
   width:100px;
   margin-top: -12%;
    margin-left: 150px
}

.contenedor1 .border-bien {
	background-color: #032f76;
	border: 3px solid #033076;
	padding: 10px;
	display: fixed;
	border-radius: 20px;
	width: 80%;
	text-align: center;
}

.btnAcceso {
	width: 50px; /* Establecer un ancho fijo para todos los iconos */
	height: 50px; /* Establecer una altura fija para todos los iconos */
	text-align: center;
	margin-left: 25px; /* Centrar el contenido del div */
}

.btnAcceso img {
	max-width: 100%; /* Asegurarse de que la imagen se ajuste al 100% del ancho del div */
	max-height: 100%; /* Asegurarse de que la imagen se ajuste al 100% de la altura del div */
}

.accesos-rapidos {
	display: flex;
}

.contenedor2 {
	background-color: #33cc33;
	margin-top: -10px;
	width: 75%;
}

.datos{
	margin-top: 10px;
	border: 3px solid;
	border-radius: 10px;
	color:#33cc33;
	width: 92%;
	margin-left: 10px;
	border-color: #032f76;
}

.datos .mapa{
	border:0;
	margin-left: 10px;
	border-radius: 10px;
	width: 95%;
	align-items: center;
	height:150px;
	margin-top: 10px;
	margin-right: 20px;
}

.datos .dato{
	font-family: 'Arial';
	font-weight: bold;
	font-size: 20px;
	color:white;
}
.datos .dato1{
	font-family: 'Arial';
	font-weight: bold;
	font-size: 18px;
	color:white;
}

.datos .separador{
	height: 3px; 
	border: 0px;
	background-color: #032f76; 
}

.contenedor2 .titulo{
	margin-top: 30px;
	font-size: 20px;
	margin-left: 350px;
	font-family: Tahoma !important;
	color: #ffffff;
}

.centro{
	background-color: #032f76;
}

.contenedor2 .separador2{
	height: 3px; 
	border: 0px;
	background-color: white; 
}