body{
    margin: 0;                   /*Quita espacio exterior*/
}

.registrar-e .cabecera{
    position: fixed;             /*Fijar posición en la parte superior*/
    width: 100%;                 /*Ocupar todo el ancho*/
    height: 100px;               /*Tamaño de la altura la barra*/
    background-color: white;   /*Color de la barra*/
    display: flex;               /*Permite alinear el contenido de la barra*/
    justify-content: space-between; /*Separa imagen*/
    align-items: center;         /*Centrar el texto verticalmente*/
    box-shadow: 0px 2px 4px rgba(15, 182, 71, 0.562); /*Agregar sombra*/
}

.registrar-e .imagen-kallpa{
    margin-top: 35px;            /*Añadir esapacio con el elemento de arriba*/
    max-height: 300px;           /*Definir altura de la imagen*/
    max-width: 200px;            /*Definir ancho de la imagen*/
}

.registrar-e .imagen-usuario{
    margin-right: 10px;          /*Añadir esapacio con el elemento de la derecha*/
    max-height: 100px;           /*Definir altura de la imagen*/
    max-width: 50px;             /*Definir ancho de la imagen*/
}

.registrar-e .contenedor-principal{
    padding: 20px;               /*Agrega espacio en el interior*/
}

.registrar-e .titulo{
    display: flex;               /*Permite alinear el contenido en una línea*/
    justify-content: center;     /*Centra el elemento*/
    margin-top: 75px;            /*Añadir espacio con el elemento de arriba*/
    font-size: 25px;             /*Establece el tamaño a la letra*/
}

.registrar-e .titulo-1{
    color: #203864;            /*Da color a las letras*/
    margin-right: 10px;          /*Añadir esapacio con el elemento de la derecha*/
}

.registrar-e .titulo-2{
    color: rgb(62, 207, 62);   /*Da color a las letras*/
}

.registrar-e .caja-empleado{
    width: 16%;                  /*Establecer ancho de la caja*/
    margin-top: -25px;           /*Eliminar espacio con el elemento de arriba*/
    float: left;                 /*Posiciona el objeto a la izquierda*/
}

.registrar-e .subtitulo-empleado{
    color: #203864;            /*Da color a las letras*/
    font-size: 22px;             /*Establece el tamaño a la letra*/
}

.registrar-e .contenedor-empleado{
    margin-top: -15px;           /*Eliminar espacio con el elemento de arriba*/
    border: 2px solid #47d847; /*Línea de la caja*/
    box-shadow: 0px 2px 4px rgba(15, 182, 71, 0.562); /*Agregar sombra*/
    padding: 15px;               /*Agrega espacio en el interior*/
    height: 591px;               /*Establece la altura del objeto*/
    border-radius: 5px;          /*Redondea las esquinas*/
}

.registrar-e .imagen-foto{
    height: 100px;               /*Definir altura de la imagen*/
    display: block;              /*Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto;              /*Centra la imagen*/
    margin-top: 23px;            /*Añadir espacio con el elemento de arriba*/
    margin-bottom: 18px;         /*Añadir espacio con el elemento de abajo*/
}

.registrar-e input{
    width: 93%;                  /*Establecer ancho del objeto*/
    padding: 9px;                /*Agranda espacio en el interior de los inputs*/
    border: 1px solid #ccc;    /*Añade un borde */
    border-radius: 5px;          /*Agrega bordes redondeados */
    color: #333;               /*Cambia el color del texto */
    font-size: 14px;             /*Ajusta el tamaño de fuente */
    font-family: 'Times New Roman'; /*Fuente de letra*/
}

.registrar-e .contenedor-empleado select{
    margin-bottom: 22px;         /*Añadir espacio con el elemento de abajo*/
    width: 100%;                 /*Establecer ancho del objeto*/
    padding: 9px;                /*Agranda espacio en el interior de los inputs*/
    border: 1px solid #ccc;    /*Añade un borde */
    border-radius: 5px;          /*Agrega bordes redondeados */
    color: #333;               /*Cambia el color del texto */
    font-size: 14px;             /*Ajusta el tamaño de fuente */
    font-family: 'Times New Roman'; /*Fuente de letra*/
}

.registrar-e .contenedor-empleado p,.contenedor-credenciales p{
    margin-bottom: 5px;          /*Añadir espacio con el elemento de abajo*/
}

.registrar-e .boton{
    background-color: #47d847; /*Color del botón*/
    color: #ffffff;            /*Cambia el color del texto */
    width: 100%;                 /*Establecer ancho del objeto*/
    cursor: pointer;             /*Cambia el cursor al pasar el ratón sobre el botón */
    font-size: 15px;             /*Ajusta el tamaño de fuente */
    border-radius: 5px;          /*Agrega bordes redondeados */
    border: 1px solid #39a805; /*Añade un borde */
    padding: 9px;                /*Agranda espacio en el interior de los inputs*/
    font-family: 'Times New Roman'; /*Fuente de letra*/
}

.registrar-e .parte-derecha{
    float: right;                /*Posiciona el objeto a la derecha*/
    width: 83%;                  /*Establecer ancho del objeto*/
}

.registrar-e .subtitulo-lista{
    color: #203864;            /*Da color a las letras*/
    font-size: 22px;             /*Establece el tamaño a la letra*/
    margin: 0px;                 /*Quitar el margen de afuera del texto*/
    margin-top: -3px;            /*Eliminar espacio con el elemento de arriba*/
    margin-bottom: 7px;          /*Añadir espacio con el elemento de abajo*/
}

.registrar-e .tabla{
    height: 411px;               /*Tamaño de altura de la tabla*/
    overflow-y: scroll;          /*Añade barra de desplazamiento*/
}

.tabla::-webkit-scrollbar{
    width: 8px;                  /* Ancho de la barra de desplazamiento */
}

.tabla::-webkit-scrollbar-thumb{
    background-color: #203864  /* Color de la barra de desplazamiento */
}

.tabla::-webkit-scrollbar-track{
    background-color: #f8f8f8; /* Color del fondo de la barra de desplazamiento */
}

table{
    width: 100%;                 /*Establecer ancho del objeto*/
    border-collapse: collapse;   /*Junta los campos de la tabla*/
    border: 1px solid #ddd;    /*Color del borde de la tabla*/
}

th, td{
    padding: 12px;               /*Agranda espacio en el interior de la celda*/
    text-align: center;          /*Alinea el texto al centro*/
}

th{
    background-color: #203864; /*Color de la cabecera*/
    color: white;              /*Color de la letra*/
}

tr:hover{
    background-color: #47d84738;/*Color del contenido*/
}

.registrar-e .boton-opciones{
    background-color: #203864; /*Color del botón*/
    color: #ffffff;            /*Cambia el color del texto */
    width: 200px;                /*Establecer ancho del objeto*/
    cursor: pointer;             /*Cambia el cursor al pasar el ratón sobre el botón */
    font-size: 15px;             /*Ajusta el tamaño de fuente */
    border-radius: 5px;          /*Agrega bordes redondeados */
    border: 1px solid #152c57; /*Añade un borde */
    padding: 9px;                /*Agranda espacio en el interior de los inputs*/
    margin-top: 18px;            /*Añade espacio con el elemento de arriba*/
    margin-right: 20px;          /*Añade espacio a la derecha del objeto*/
    font-family: 'Times New Roman'; /*Fuente de letra*/
}

.registrar-e .contenedor-credenciales{
    margin-top: 20px;            /*Añade espacio con el elemento de arriba*/
    border: 2px solid #47d847; /*Línea de la caja*/
    box-shadow: 0px 2px 4px rgba(15, 182, 71, 0.562); /*Agregar sombra*/
    padding: 15px;               /*Agrega espacio en el interior*/
    border-radius: 5px;          /*Redondea las esquinas*/
}

.registrar-e .campo{
    display: inline-block;       /*Alinea los elemetos*/
    width: 400px;                /*Establecer ancho del objeto*/
    margin-right: 20px;          /*Añade espacio a la derecha del objeto*/
    margin-top: -13px;           /*Eliminar espacio con el elemento de arriba*/
}

.registrar-e .boton-credencial{
    background-color: #47d847; /*Color del botón*/
    color: #ffffff;            /*Cambia el color del texto */
    width: 254px;                /*Establecer ancho del objeto*/
    cursor: pointer;             /*Cambia el cursor al pasar el ratón sobre el botón */
    font-size: 15px;             /*Ajusta el tamaño de fuente */
    border-radius: 5px;          /*Agrega bordes redondeados */
    border: 1px solid #39a805; /*Añade un borde */
    padding: 9px;                /*Agranda espacio en el interior de los inputs*/
    font-family: 'Times New Roman'; /*Fuente de letra*/
}

.registrar-e .pie-pagina{
    position: fixed;             /*Fijar posición en la parte inferior*/
    bottom: 0;                   /*Colocar en la parte inferior*/
    width: 100%;                 /*Ocupar todo el ancho*/
    height: 60px;                /*Tamaño de la altura la barra*/
    background-color: #33cc33; /*Color de la barra*/
    color: white;              /*Color de la letra*/
    display: flex;               /*Permite alinear el contenido de la barra*/
    justify-content: center;     /*Centrar el texto horizontalmente*/
    align-items: center;         /*Centrar el texto verticalmente*/
}